[id*=braintree_hic_testing][style*='display: none'] + tr{
  display:table-row;
}

[id*=braintree_hic_testing][id*=_disabled] {
    display:none;
}

[id*=braintree_hic_create_account] {
    display:none;
}

.create-hic-account-label {
    display:none;
}