<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <braintree_section>
                <braintree>
                    <braintree_hic>
                        <testing>
                            <paypal_enabled>Enabled</paypal_enabled>
                            <paypal_disabled>Make sure to set "Enable PayPal through Braintree" to "Yes" under "Basic Braintree Settings". Additionally make sure that "Display on Shopping Cart" is set to "Yes" under "PayPal through Braintree" section.</paypal_disabled>
                            <paypal_credit_enabled>Enabled</paypal_credit_enabled>
                            <paypal_credit_disabled>Make sure to set "Enable PayPal Credit through Braintree" to "Yes" under "Basic Braintree Settings". Note you must first enable PayPal through Braintree. Additionally make sure that "Display on Shopping Cart" is set to "Yes" under "PayPal through Braintree" section.</paypal_credit_disabled>
                            <applepay_enabled>Enabled</applepay_enabled>
                            <applepay_disabled>Make sure to set "Enable ApplePay through Braintree" to "Yes" under "ApplePay through Braintree" section.</applepay_disabled>
                            <googlepay_enabled>Enabled</googlepay_enabled>
                            <googlepay_disabled>Make sure to set "Enable GooglePay through Braintree" to "Yes" under "GooglePay through Braintree" section.</googlepay_disabled>
                        </testing>
                    </braintree_hic>
                </braintree>
            </braintree_section>
        </payment>
    </default>
</config>