<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Braintree\Block\Paypal\Button">
        <plugin name="hiconversion_paypalbtn_override" type="\Gene\BraintreeHiConversion\Plugin\PayPal\CartButton" />
    </type>

    <type name="Magento\Braintree\Block\Paypal\ProductPage">
        <plugin name="hiconversion_paypalbtn_override_product" type="\Gene\BraintreeHiConversion\Plugin\PayPal\ProductButton" />
    </type>
</config>