<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="braintree_section">
                <group id="braintree">
                    <group id="braintree_hic" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="25">
                        <comment><![CDATA[<a href="https://h30.hiconversion.net" target="_blank">Click here to go to HiConversion</a>]]></comment>
                        <label>HiConversion Experience Optimization through Braintree</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable Experience Optimization through Braintree</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>hiconversion/configuration/enabled</config_path>
                        </field>
                        <field id="site_id" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Site ID</label>
                            <config_path>hiconversion/configuration/site_id</config_path>
                        </field>

                        <group id="create_account" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                            <label>Activate New HiConversion Account</label>
                            <field id="site_url" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Your Site URL</label>
                                <frontend_class>validate-url</frontend_class>
                                <backend_model>Gene\BraintreeHiConversion\Model\Adminhtml\System\Config\NonStorable</backend_model>
                            </field>
                            <field id="email" translate="label" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Your Email Address</label>
                                <frontend_class>validate-email</frontend_class>
                                <backend_model>Gene\BraintreeHiConversion\Model\Adminhtml\System\Config\NonStorable</backend_model>
                            </field>
                            <field id="password" translate="label" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Password</label>
                                <backend_model>Gene\BraintreeHiConversion\Model\Adminhtml\System\Config\NonStorable</backend_model>
                            </field>
                            <field id="activate" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label></label>
                                <frontend_model>Gene\BraintreeHiConversion\Block\Adminhtml\Form\Field\Activation</frontend_model>
                            </field>
                        </group>
                        <group id="link_existing" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                            <label>Link to an Existing Site In HiConversion</label>
                            <field id="site_url" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Existing Site URL</label>
                                <frontend_class>validate-url</frontend_class>
                                <backend_model>Gene\BraintreeHiConversion\Model\Adminhtml\System\Config\NonStorable</backend_model>
                            </field>
                            <field id="email" translate="label" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Your Email Address</label>
                                <frontend_class>validate-email</frontend_class>
                                <backend_model>Gene\BraintreeHiConversion\Model\Adminhtml\System\Config\NonStorable</backend_model>
                            </field>
                            <field id="link" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label></label>
                                <frontend_model>Gene\BraintreeHiConversion\Block\Adminhtml\Form\Field\Link</frontend_model>
                            </field>
                        </group>
                        <group id="tests" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                            <comment><![CDATA[<a href="https://h30.hiconversion.net/cx/t/ab/dash" target="_blank">Create/Manage Tests in HiConversion</a>]]></comment>
                            <label>Tests</label>
                            <group id="cart" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                                <label>Cart</label>
                                <group id="cart_paypal_express" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                                    <label>PayPal Express</label>
                                    <field id="test_mode" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Enable Test Mode</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/cart_paypal_test_enabled</config_path>
                                    </field>
                                    <field id="disable" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Disable in Cart</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/cart_paypal_disabled</config_path>
                                    </field>
                                </group>
                                <group id="cart_paypal_credit" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                                    <label>PayPal Credit</label>
                                    <field id="test_mode" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Enable Test Mode</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/cart_paypal_credit_test_enabled</config_path>
                                    </field>
                                    <field id="disable" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Disable in Cart</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/cart_paypal_credit_disabled</config_path>
                                    </field>
                                </group>
                                <group id="cart_apple_pay" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                                    <label>Apple Pay</label>
                                    <field id="test_mode" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Enable Test Mode</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/cart_apple_pay_test_enabled</config_path>
                                    </field>
                                    <field id="disable" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Disable in Cart</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/cart_apple_pay_disabled</config_path>
                                    </field>
                                </group>
                                <group id="cart_google_pay" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                                    <label>Google Pay</label>
                                    <field id="test_mode" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Enable Test Mode</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/cart_google_pay_test_enabled</config_path>
                                    </field>
                                    <field id="disable" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Disable in Cart</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/cart_google_pay_disabled</config_path>
                                    </field>
                                </group>
                            </group>
                            <group id="minicart" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                                <label>Minicart</label>
                                <group id="minicart_paypal_express" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                                    <label>PayPal Express</label>
                                    <field id="test_mode" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Enable Test Mode</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/minicart_paypal_test_enabled</config_path>
                                    </field>
                                    <field id="disable" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Disable in Cart</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/minicart_paypal_disabled</config_path>
                                    </field>
                                </group>
                                <group id="minicart_paypal_credit" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                                    <label>PayPal Credit</label>
                                    <field id="minicart_paypal_credit" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Enable Test Mode</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/minicart_paypal_credit_test_enabled</config_path>
                                    </field>
                                    <field id="disable" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Disable in Cart</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/minicart_paypal_credit_disabled</config_path>
                                    </field>
                                </group>
                                <group id="minicart_apple_pay" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                                    <label>Apple Pay</label>
                                    <field id="minicart_apple_pay" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Enable Test Mode</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/minicart_apple_pay_test_enabled</config_path>
                                    </field>
                                    <field id="disable" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Disable in Cart</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/minicart_apple_pay_disabled</config_path>
                                    </field>
                                </group>
                                <group id="minicart_google_pay" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                                    <label>Google Pay</label>
                                    <field id="minicart_google_pay" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Enable Test Mode</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/minicart_google_pay_test_enabled</config_path>
                                    </field>
                                    <field id="disable" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Disable in Cart</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/minicart_google_pay_disabled</config_path>
                                    </field>
                                </group>
                            </group>
                            <group id="sitewide" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                                <label>Sitewide</label>
                                <group id="paypal_button_shape" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                                    <label>PayPal Button Shape</label>
                                    <field id="test_mode" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Enable Test Mode</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/sitewide_paypal_button_shape_test_enabled</config_path>
                                    </field>
                                </group>
                                <group id="paypal_button_color" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                                    <label>PayPal Button Color</label>
                                    <field id="test_mode" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                                        <label>Enable Test Mode</label>
                                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                        <config_path>hiconversion/configuration/sitewide_paypal_button_color_test_enabled</config_path>
                                    </field>
                                </group>
                            </group>
                        </group>
                        <group id="advanced" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="26">
                            <label>Advanced Settings</label>
                            <field id="bn_code" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Build Notation Code</label>
                                <config_path>hiconversion/configuration/bn_code</config_path>
                            </field>
                        </group>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>