<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="braintree_section">
                <group id="braintree">
                    <group id="braintree_hic" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="25">
                        <label>HiConversion</label>
                        <comment><![CDATA[<div class="hic-account-info-label">Please enter your HiConversion account information and click validate. If you do not have a HiConversion account, <a href="#" onclick="showHicCreateAccountFields.call(this, event);">click here to set one up.</a></div><br/><div class="create-hic-account-label">Please enter the following information to set up your HiConversion account. <a href="#" onclick="showHicGetIdFields.call(this, event);">Click here to enter ID manually.</a></div>]]></comment>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="site_url" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Your Site URL</label>
                            <frontend_class>validate-url</frontend_class>
                            <config_path>hiconversion/configuration/site_url</config_path>
                        </field>
                        <field id="email" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Your Email Address</label>
                            <frontend_class>validate-email</frontend_class>
                            <config_path>hiconversion/configuration/email</config_path>
                        </field>
                        <field id="password" type="obscure" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Password</label>
                            <backend_model>Hic\Integration\Model\Adminhtml\System\Config\NonStorable</backend_model>
                        </field>
                        <field id="site_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Site ID</label>
                            <config_path>hiconversion/configuration/site_id</config_path>
                        </field>
                        <field id="link_validate" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label></label>
                            <frontend_model>Hic\Integration\Block\Adminhtml\Form\Field\LinkValidation</frontend_model>
                        </field>
                        <field id="create_account" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label></label>
                            <comment><![CDATA[By clicking Create HiConversion Account I agree to HiConversion's <a href="https://www.hiconversion.com/customer-terms-of-service/" target="_blank">Terms of Service</a> and <a href="https://www.hiconversion.com/privacy-policy/" target="_blank">Privacy Policy</a>]]></comment>
                            <frontend_model>Hic\Integration\Block\Adminhtml\Form\Field\Activation</frontend_model>
                        </field>
                        <field id="enabled" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable HiConversion</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>hiconversion/configuration/enabled</config_path>
                        </field>
                        <field id="testing" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="*/braintree_section/braintree/braintree_hic/enabled">1</field>
                            </depends>
                            <label>Testing and Optimization</label>
                            <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                        </field>
                        <field id="bt_enabled" translate="label" type="select" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="*/braintree_section/braintree/braintree_hic/enabled">1</field>
                            </depends>
                            <label>Enable HiConversion Enhancements for Braintree</label>
                            <comment><![CDATA[<a href="https://h30.hiconversion.net/cx/t/ab/dash?braintree=true" target="_blank">Please activate the tests you want to run in HiConversion before Enabling. </a>]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>hiconversion/configuration/bt_enabled</config_path>
                        </field>
                        <field id="wallets" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="*/braintree_section/braintree/braintree_hic/enabled">1</field>
                            </depends>
                            <label>Payment Methods/Wallets Checklist</label>
                            <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                        </field>
                        <field id="paypal_enabled" type="label" translate="label" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="*/braintree_section/braintree/active_braintree_paypal">1</field>
                                <field id="*/braintree_section/braintree/braintree_paypal/display_on_shopping_cart">1</field>
                                <field id="*/braintree_section/braintree/braintree_hic/enabled">1</field>
                                <field id="*/braintree_section/braintree/braintree_paypal/button_productpage/button_productpage_enable">1</field>
                            </depends>
                            <label>PayPal</label>
                            <config_path>hiconversion/configuration/status_paypal_enabled</config_path>
                        </field>
                        <field id="paypal_disabled" type="label" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="*/braintree_section/braintree/braintree_hic/enabled">1</field>
                            </depends>
                            <label>PayPal</label>
                            <comment><![CDATA[Ensure the following are set to "Yes"<ul class="note"><li>"Enable PayPal through Braintree" under "Basic Braintree Settings"</li><li>"Display on Shopping Cart" under "PayPal through Braintree" section</li><li>"Enable PayPal Buy Now button on the product page" in the "Product Page" section under the "PayPal through Braintree" section</li></ul>]]></comment>
                            <config_path>hiconversion/configuration/status_paypal_disabled</config_path>
                        </field>
                        <field id="paypal_credit_enabled" type="label" translate="label" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="*/braintree_section/braintree/braintree_paypal_credit_active">1</field>
                                <field id="*/braintree_section/braintree/braintree_paypal/display_on_shopping_cart">1</field>
                                <field id="*/braintree_section/braintree/braintree_hic/enabled">1</field>
                                <field id="*/braintree_section/braintree/braintree_paypal/button_productpage/button_productpage_enable">1</field>
                            </depends>
                            <label>PayPal Credit</label>
                            <config_path>hiconversion/configuration/status_paypal_credit_enabled</config_path>
                        </field>
                        <field id="paypal_credit_disabled" type="label" translate="label" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="*/braintree_section/braintree/braintree_hic/enabled">1</field>
                            </depends>
                            <label>PayPal Credit</label>
                            <comment><![CDATA[Ensure the following are set to "Yes"<ul class="note"><li>"Enable PayPal through Braintree" under "Basic Braintree Settings"</li><li>"Display on Shopping Cart" under "PayPal through Braintree" section</li><li>"Enable PayPal Buy Now button on the product page" in the "Product Page" section under the "PayPal through Braintree" section</li></ul>]]></comment>
                            <config_path>hiconversion/configuration/status_paypal_credit_disabled</config_path>
                        </field>
                        <field id="applepay_enabled" type="label" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="*/braintree_section/braintree/braintree_applepay/active">1</field>
                                <field id="*/braintree_section/braintree/braintree_hic/enabled">1</field>
                            </depends>
                            <label>ApplePay</label>
                            <config_path>hiconversion/configuration/status_applepay_enabled</config_path>
                        </field>
                        <field id="applepay_disabled" type="label" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="*/braintree_section/braintree/braintree_hic/enabled">1</field>
                            </depends>
                            <label>ApplePay</label>
                            <comment>Ensure "Enable ApplePay through Braintree" is set to "Yes" under "ApplePay through Braintree" section.</comment>
                            <config_path>hiconversion/configuration/status_applepay_disabled</config_path>
                        </field>
                        <field id="googlepay_enabled" type="label" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="*/braintree_section/braintree/braintree_googlepay/active">1</field>
                                <field id="*/braintree_section/braintree/braintree_hic/enabled">1</field>
                            </depends>
                            <label>Google Pay</label>
                            <config_path>hiconversion/configuration/status_googlepay_enabled</config_path>
                        </field>
                        <field id="googlepay_disabled" type="label" translate="label" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="*/braintree_section/braintree/braintree_hic/enabled">1</field>
                            </depends>
                            <label>Google Pay</label>
                            <comment>Ensure "Enable GooglePay through Braintree" is set to "Yes" under "GooglePay through Braintree" section.</comment>
                            <config_path>hiconversion/configuration/status_googlepay_disabled</config_path>
                        </field>
                        <group id="advanced" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="*/braintree_section/braintree/braintree_hic/enabled">1</field>
                            </depends>
                            <label>Advanced Settings</label>
                            <field id="bn_code" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Build Notation Code</label>
                                <config_path>hiconversion/configuration/bn_code</config_path>
                            </field>
                        </group>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>